@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

* {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    box-shadow: 0 0.25rem 0.55rem rgba(0,0,0,.25), inset 0 -1px 5px rgba(0,0,0,.25);
}
.nav-item {
    font-weight: 500;
    font-size: 0.90rem;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.555em;
    vertical-align: 0.1em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.btn-success {
    color: #fff;
    background-color: #4fc08d;
    border-color: #4fc08d;
}
.btn_hero {
    font-weight: 600;
    font-size: 1rem;
    border-radius: 50px!important;
}
.btn_hero_text {

}
.title_hero {
    line-height: 2.5rem;
}
.rounded-2 {
    border-radius: 10px;
}


.carousel-control-prev, .carousel-control-next {
    width: 20px !important;
    margin-left: -50px !important;
    margin-right: -50px !important;
}
.carousel-indicators {
    bottom: -70px;
    margin-right: 0;
    margin-left: 0;
}
.carousel-indicators li {
    background-color: #b2b2b2;
}
.control_slide {
    color: #343a40;
    font-size: 30px;
}
.img_hero {
    width: 80%;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    border-radius: 10px!important;
}
.btn-success {
    color: #fff;
    border: none;
    /*background: rgb(68,140,114);*/
    background: linear-gradient(109deg, rgba(68,140,114,1) 26%, rgba(79,192,141,1) 100%);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-success:hover {
    color: #fff;
    border: none;
    /*background: rgb(68,140,114);*/
    background: linear-gradient(60deg, rgba(68,140,114,1) 30%, rgba(79,192,141,1) 80%);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s !important;
}